<ion-header [translucent]="true">
  <ion-title slot="start">
    <ion-img class="logo" src="assets/icon/logobeyaz.png"></ion-img>
  </ion-title>

</ion-header>

<ion-content [fullscreen]="true" class="login-content">
 <div class="login-box">
  <ion-label class="login-label">Kullanıcı Adı</ion-label>
  <ion-input class="login-input"
 type="text"
 fill="solid"

 [(ngModel)]="user_name"
 email></ion-input>

<ion-label  for='login' class="login-label">Şifre</ion-label>
<ion-input id='login' class="login-input"
 type="password"
 [(ngModel)]="password"
 ></ion-input>
 <ion-button   (click)="login()" expand="block">Giriş yap</ion-button>
 <ion-button [routerLink]="['/register']" class="btncolor" size="small"  color="dark" expand="block">Kayıt Ol</ion-button>
 <a size="small" [routerLink]="['/dashboard']" >Şifremi unuttum</a>
</div>
</ion-content>
