
.badge-person {
  margin-right: 5px;
   font-size: 12px;
}
.newscard {
   box-shadow: none;
   background-color: transparent;
}
.logo {
   width: 100px;
}
.newscard h3 {
   position: absolute;
   z-index: 2;
   color: white;
   font-size: 1rem;
   font-weight: 600;
   padding-left: 15px;
}
.newscard img {
   width: 80%;
}
.newscard h3 {bottom: 0;}

.read {
   border-left:  5px solid green;
}

.unread{
   border-left:  5px solid red;
}
.brands-logo {
   height: 30px;
   width: 30px;
    object-fit: contain;
    aspect-ratio: 16/9;

}
.brands-title {
   font-size: 1rem;
   font-weight: 600;
   padding-left: 15px;
   padding-bottom: 5px;
}
.brands-name {
   
   text-decoration: none;
   color: white;
}
.brands-name h3 {
   font-size: 1rem;
   padding-bottom: 5px;
}
.brand-slot {
   display: flex;
   align-items: center;
   padding: 0;
   

}
.brand-slot-item {
   padding: 0;
   
}
.brands-image-slot {
   align-items: center;
   display: flex;
   justify-content: center;
   width: 45px;
   height: 45px;
   background-color: lightgrey;
}
.weather-top {
   --background : blue;
}
.havadurumu h5 {
   color:whitesmoke
}
.havadurumu h1 {
   color: whitesmoke;
}
.havaicon2 {
   height: 30px;
   width: 30px;
}